body {
    background: linear-gradient(135deg, #1db954, #1ed760);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure minimum height covers viewport */
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

#to-be-replaced {
    display: none;
	transition: opacity 1s ease-in-out;
	opacity: 1;
}

.star-banner {
    width: 100%;
    min-width: 400px;
    height: auto;
    transform: translateY(5rem);
}

#star-banner-top {
    position: absolute;
    top: 0;
    left: 0;
}

#star-banner-bottom {
    position: absolute;
    bottom: 10rem;
    left: 0;
}

#thanks-gif {
    width: 20rem;
    display: inline-block;
    vertical-align: middle;
    margin: 2rem;
}

#banjo-gif {
    display: none;
    width: 5rem;
    position: absolute;
    left: 3rem;
    bottom: 8rem;
    transform: scaleX(-1);
}